<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Model\Product">
        <plugin name="custom_price_product_view" type="Training\GetPrice\Plugin\Catalog\Model\Product\View" sortOrder="10" disabled="false" />
    </type>
</config>
