.instruction {
  margin-top: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #ededed;
}
.header.content {
  background: linear-gradient(90.67deg, #ffffff 28.2%, #db6b9a 54.15%, #ab1e7a 85.23999999999999%);
}
.box-category {
  border: 1px solid #a83893;
  border-radius: 8px;
  width: 385px;
  height: 170px;
  padding: 6px, 36px, 5px, 4px;
}
.block-search {
  margin-right: 45%;
  height: 44px;
  border-radius: 8px;
  width: 200px !important;
}
.input-text {
  width: 550px;
  height: 44px;
  border-radius: 8px;
}
.page-header {
  background: linear-gradient(90.67deg, #ffffff 28.2%, #db6b9a 54.15%, #ab1e7a 85.23999999999999%);
}
.panel.wrapperl {
  border: none;
}
.minicart-wrapper .action.showcart:before {
  color: white;
  font-size: 45px;
}
.minicart-wrapper .action.showaccount:before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 45px;
  line-height: 33px;
  color: white;
  content: '\e627';
  font-family: 'icons-blank-theme';
  vertical-align: top;
  display: inline-block;
  font-weight: normal;
  overflow: hidden;
  speak: none;
  text-align: center;
}
.minicart-wrapper .action.showheart:before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 45px;
  line-height: 33px;
  color: white;
  content: '\e601';
  font-family: 'icons-blank-theme';
  margin: 0;
  vertical-align: top;
  display: inline-block;
  font-weight: normal;
  overflow: hidden;
  speak: none;
  text-align: center;
}
.minicart-wrapper {
  display: flex;
  position: relative;
  float: right;
}
.productslider {
  position: relative;
  display: inline-block;
  width: 109px;
  height: 20px;
}
.productslider::before {
  content: "\2605 \2605 \2605 \2605 \2605";
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  left: -0%;
  font-size: 16px;
  line-height: 16px;
  color: #EAB223;
}
.productslider::after {
  content: "185";
  position: absolute;
  top: 3px;
  width: 0;
  height: 0;
  left: 70px;
  size: 17px;
}
.news {
  position: relative;
  background-color: #FAD2F2;
}
.news::before {
  content: '';
  position: absolute;
  top: 0;
  left: -50%;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-color: #FAD2F2;
}
.news::after {
  content: '';
  position: absolute;
  top: 0;
  right: -50%;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-color: #FAD2F2;
}
.action.view {
  color: var(--body-default, #282828);
  font-family: Quicksand;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.7px;
  text-decoration: none;
}
.product-options-wrapper {
  display: none;
}
.tocart {
  display: flex;
  width: 200px;
  padding: 16px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: var(--primary-500, #93117b) !important;
}
.stock span {
  color: var(--auxiliary-green, #78a622);
  font-family: Quicksand;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.7px;
}
