<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="general" translate="label" sortOrder="1">
            <label>Tổng quát</label>
        </tab>
        <section id="training_systemconfiguration" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Cấu hình Công ty Bạn</label>
            <tab>general</tab>
            <resource>Training_SystemConfiguration::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Cài đặt Tổng quát</label>
                <field id="test" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Kiểm tra</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="custom_text" translate="label" type="label" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Văn bản Tùy chỉnh</label>
                    <frontend_model>Training\SystemConfiguration\Block\Adminhtml\System\Config\CustomText</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>
